
Temp/
obj/
Logs/
Packages/manifest.json
Library/metadata/
Library/PackageCache/
Library/ScriptAssemblies/
Library/ShaderCache/
Library/StateCache/
New Unity Project (4).sln
Assembly-CSharp.csproj
VRC Loading Pictures.sln
Assets/OVRLay/LICENSE.meta
.vs/VRCLoadingPictures/v16/.suo
*.log
VRCLoadingPictures.sln
Library/
Packages/
.vs/
.vsconfig
UserSettings/
